<div class="menu">
    <h3>画线规则</h3>
    <ul>
        <li>
            <a [ngClass]="{'active': role === RoleEnum.ONE}" (click)="role = RoleEnum.ONE">规则一：一起开始一起结束</a>
        </li>

        <li>
            <a [ngClass]="{'active': role === RoleEnum.TWO}" (click)="role = RoleEnum.TWO">规则二：你方唱罢我登场</a>
        </li>
    </ul>
</div>

<div class="content">
    <app-line-bezier-one
        *ngIf="role === RoleEnum.ONE"
        [lineConfig]="lineConfig"
    ></app-line-bezier-one>


    <app-line-bezier-two
        *ngIf="role === RoleEnum.TWO"
        [lineConfig]="lineConfig"
    ></app-line-bezier-two>

</div>
